body {
            user-select: none; /* Disable text selection */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            -webkit-touch-callout: none; /* Disable callout, like long press menu on iOS */
        }
        
