.searchcontainer {
    margin: 0;
    text-align: center;
    position: relative;
    overflow-x: auto;/* 
}

.searchcontainer #searchInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    margin: 40px auto 0;
    font-size: 18px;
    height: 50px;
}

.searchcontainer #searchInput:focus {
    outline: none;
    border-color: #1E90FF;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}

.searchcontainer #suggestionList {
    list-style: none;
    flex: 1;
    position: relative;
    margin: 2px auto 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;  /* Enables vertical scrolling */
    overflow-x: auto;
    width: 600px;
    white-space: nowrap;    
}

.searchcontainer #suggestionList li {
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 0;
    white-space: nowrap;  /* Prevents line breaks within list items */
    overflow: hidden;  /* Hides overflow but allows scrolling */
    text-overflow: ellipsis;
    width: 100%;
}
.searchcontainer #suggestionList li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
.searchcontainer #suggestionList li:hover {
    background: #e9f3ff;
}
.info-icon {
    margin-left: 10px;
    cursor: pointer;
    color: #1E90FF; /* Example color */
    font-size: 14px;
}

.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px; /* Ensure there's space for the icon */
}

@media only screen and (max-width: 767px) {
    .searchcontainer #searchInput {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 220px;
        margin: 10px auto 0;
        font-size: 18px;
        height: 50px;
    }
     .searchcontainer #suggestionList {
        list-style: none;
        flex: 1;
        margin: 2px auto 0;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        z-index: 1;
        max-height: 300px;
        overflow-y: auto;  /* Enables vertical scrolling */
        overflow-x: auto;
        width: 120px;
        white-space: nowrap;
    }
    .info-icon {
        font-size: 12px; /* Slightly smaller icon for mobile */
    }

    .suggestion-item {
        flex-direction: row; /* Maintain horizontal layout */
        padding-right: 10px; /* Reduce padding for smaller screens */
    }
