body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.custom-form {
    margin: 0;
    text-align: center;
    position: relative;
    max-width: 100%;/* Important for absolute child elements */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-group-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #6c757d;
}

#searchInput {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    width: 600px;
    font-size: 18px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
}

#searchInput:focus {
    border-color: #1E90FF;
    box-shadow: 0 0 10px rgba(30, 144, 255, 0.5);
}

/* Suggestion List Styling */
#suggestionList {
    list-style: none;
    position: absolute; /* Place it right under the input */
    top: 100%; /* Align directly below input */
    left: 50%; 
    transform: translateX(-50%); /* Center-align the list */
    margin-top: 5px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-height: 800px;
    overflow-y: scroll;  /* Always show vertical scrollbar */
    overflow-x: scroll;
    width: 600px;
    z-index: 100;
}

/* Styling individual suggestions */
#suggestionList li {
    padding: 25px 20px;   /* Ensure enough padding inside each suggestion */
    margin-bottom: 10px;           /* No margin between suggestions */
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #f0f0f0; /* Visual separation */
    text-overflow: ellipsis;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    height: 50px; /* Ensure consistent height for each suggestion */
    display: flex;
    align-items: center; /* Vertically align the text */
}

#suggestionList li:last-child {
    border-bottom: none; /* Remove the bottom border from the last suggestion */
}

#suggestionList li:hover {
    background-color: #e9f3ff;
}

@media only screen and (max-width: 767px) {
    #searchInput, #suggestionList {
        width: 90%; /* Ensure they fit within the screen */
        margin: 0 auto; /* Center align */
    }
    .custom-form {
        padding: 10px; /* Optional padding */
        margin: 0; /* Ensure no extra margin */
    }
}
